<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#"><p><button type="button" class="btn btn-light">Brasil</button></p>
    <p><button type="button" class="btn btn-light">Publicidade</button>
    <button type="button" class="btn btn-light">Negócios</button>
    <button type="button" class="btn btn-light">Sobre</button></a>

    <a class="navbar-brand justify-content-end" href="#"><p>
    <button type="button" class="btn btn-light">Privacidade</button>
    <button type="button" class="btn btn-light">Termos</button>
    <button type="button" class="btn btn-light">Configurações</button><p></a>
  </nav>
  