<ul class="nav justify-content-end">
        <li class="nav-item">
        <a class="nav-link active" href="#" style="color: black">Gmail</a>
        </li>
        <li class="nav-item">
        <a class="nav-link dark" href="#" style="color: black">Imagens</a>
        </li>
        <nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: gray">
            <span class="navbar-toggler-icon"></span>
            </button>
            <button type="button" class="btn btn-primary">Fazer Login</button>
        </nav>
</ul>


